.intro-animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--card-bg); /* Use card background for consistency */
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.intro-animation-container.fade-out {
  opacity: 0;
}

.intro-message {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-color);
  transition: opacity 1s ease-in-out;
  opacity: 0;
  position: absolute;
  text-align: center;
  max-width: 80%;
  line-height: 1.6;
}

.intro-message.fade-in {
  opacity: 1;
}

.intro-message.fade-out {
  opacity: 0;
}
